/* Reset defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: 'Arial', sans-serif;
  color: #333;
}

/* Navigation Bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #04364A;
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 30px;
}

nav ul li a {
  color: rgb(230, 171, 171);
  text-decoration: none;
  font-size: 16px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Hero Section */
header {
  background: url('https://thumbs.dreamstime.com/b/young-woman-working-as-office-manager-planning-work-tasks-writing-down-her-schedule-to-planner-workplace-71060009.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #04364A;
  text-align: center;
}

.hero-content h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 30px;
}

.btn {
  background: #00A9FF;
  color: white;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background: #0284c7;
}

/* Services Section */
.services {
  padding: 80px 20px;
  text-align: center;
  background: #04364A;
}

.services h2 {
   color: #ddd;
  font-size: 36px;
  margin-bottom: 40px;
}

.service-boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.box {
  background: rgb(241, 190, 190);
  padding: 30px;
  width: 280px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.box h3 {
  margin-bottom: 15px;
  font-size: 22px;
}
.box:hover {
  background: #ca7a9b;
}

/* About Section */
.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 80px 60px;
  background: #a4b2e2;
}

.about-text {
  flex: 1;
  padding: 20px;
}

.about-text h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 18px;
  margin-bottom: 30px;
}

.about-image {
  flex: 1;
  padding: 20px;
}

.about-image img {
  width: 100%;
  border-radius: 8px;
}

/* Footer */
footer {
  background: #04364A;
  color: #ddd;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}